<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>other</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="open()" expand="block"> open Scan </ion-button>
  <ion-button (click)="open()" expand="block"> open Scan </ion-button>
  <ion-button (click)="open()" expand="block"> open Scan </ion-button>
  <ion-button (click)="open()" expand="block"> open Scan </ion-button>
  <ion-button (click)="open()" expand="block"> open Scan </ion-button>
  <ion-button (click)="open()" expand="block"> open Scan </ion-button>
  <ion-button (click)="open()" expand="block"> open Scan </ion-button>
  <ion-button (click)="open()" expand="block"> open Scan </ion-button>
  <ion-button (click)="open()" expand="block"> open Scan </ion-button>
  <ion-button (click)="open()" expand="block"> open Scan </ion-button>
</ion-content>
