<ion-header>
  <ion-toolbar>
    <ion-title> Sample </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container>
    <ion-button (click)="scan()" expand="block"> Se abre un modal </ion-button>
    <ion-button (click)="scan()" expand="block"> Se abre un modal </ion-button>
    <ion-button (click)="scan()" expand="block"> Se abre un modal </ion-button>
    <ion-button (click)="scan()" expand="block"> Se abre un modal </ion-button>
    <ion-button (click)="scan()" expand="block"> Se abre un modal </ion-button>
    <ion-button (click)="scan()" expand="block"> Se abre un modal </ion-button>
    <ion-button (click)="scan()" expand="block"> Se abre un modal </ion-button>
    <ion-button (click)="scan()" expand="block"> Se abre un modal </ion-button>
    <ion-button (click)="scan()" expand="block"> Se abre un modal </ion-button>
    <ion-button (click)="scan()" expand="block"> Se abre un modal </ion-button>
  </ng-container>
</ion-content>
